*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
/*sidebar navigation styles*/
.sidebar-nav{
    width: 300px;
    background: rgba(0, 0, 0, 0.918);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upper-wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account-picture{
    border: 3px solid orangered;
    box-shadow: 0 0 10px orange, 0 0 10px orange;
    border-radius: 50%;
    width: 80%;
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.account-picture img{
    width: 100%;
    border-radius: 50%;
}
.middle-wraper{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}
.middle-wraper a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    width: 90%;
    height: 45px;
    padding: 0px 13px;
    transition: .3s;
}
.middle-wraper a:hover{
    border: 1.5px solid orangered;
    background: rgba(0, 0, 0, 0.959);
}
.middle-wraper a img{
    width: 40px;
}
.middle-wraper a .counter{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 0 2px;
    color: orangered;
    min-width: 10%;
    height: 70%;
    border-radius: 50%;
}
.middle-wraper a .counter.hide-counter{
    visibility: hidden;
}
body h3{
    text-align: center;
    margin: 30px auto;
    text-decoration: underline;
    font-size: 30px;
}
body h3 span{
    color: orangered;
}
.main-section{
    margin-left: 300px;
}
.accounts-section{
    display: grid;
    grid-template-columns: repeat(3, 220px);
    width: 80%;
    column-gap: 35px;
    margin: 5px auto;
}
.account-container{
    padding: 9px;
    margin: 5px;
    width: 220px;
    background: rgba(231, 223, 223, 0.377);
    display: flex;
    min-height: 200px;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(32, 238, 5), 0 0 10px rgb(2, 241, 42);
    justify-content: space-between;
}
.account-container img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid orangered;
}
.account-container .account-name{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 5px;
}
.account-container .account-email{
    font-weight: bold;
    margin: 10px 0;
    color: rgb(47, 255, 64);
    word-wrap: break-word;
}
.account-container .buttons{
    height: 30px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.account-container .buttons button{
    border: none;
    color: white;
    background: red;
    width: 45%;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.account-container .buttons .btn-view{
    background: green;
}
.account-container .buttons button:hover{
    opacity: 0.3;
}